/* PC */
@media screen and (min-width: 992px) {
    .ellipse-deco__mobile,
    .ellipse-deco__mobile-1,
    .header__task-mobile,
    .about__all-btn-list,
    .btn-explore-mobile,
    .testimonials__title,
    .footer__logo-mobile {
        display: none;
    }
}
/* Table */
@media screen and (min-width: 768px) and (max-width: 991px) {
}
/* Mobile */
@media screen and (max-width: 767px) {
    .nav__list {
        display: none;
    }
    .btn-sign {
        padding: 8px 20px;
        text-align: center;
        font-family: Sora;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        border: 1px solid #272633;
        border-radius: 8px;
        background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .hero__content-title {
        width: 297px;
        color: #f9f9f9;
        text-align: center;
        font-family: Sora;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .hero__deco {
        display: none;
    }
    .daily-task {
        width: auto;
    }
    .daily-task__content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content__top {
        width: auto;
    }
    .content__heading-deco {
        display: none;
    }
    .hero__content-desc {
        display: none;
    }
    .hero__content-action {
        margin-top: 30px;
        flex-direction: column;
    }
    .btn-action {
        padding: 12px 26px;
        border-radius: 8px;
    }
    .btn-action:nth-child(2) {
        padding: 12px 37px;
    }
    .hero {
        position: relative;
        justify-content: center;
    }
    .ellipse-deco__mobile {
        position: absolute;
        top: -24%;
        transform: rotate(-90deg);
        left: 14%;
    }
    .ellipse-deco__mobile-1 {
        position: absolute;
        bottom: 42%;
        right: 9%;
    }
    .task__dashboard {
        display: none;
    }
    .header__task-deco {
        display: none;
    }
    .header__task-mobile {
        margin: 82px auto auto auto;
        width: 323px;
        height: 159px;
    }
    .service {
        margin-top: 80px;
    }
    .service__inner {
        margin: auto;
        flex-direction: column;
        width: 319px;
        height: 820px;
    }
    .service__line:first-child {
        left: 20%;
        top: 33%;
    }
    .service__line:nth-child(2) {
        left: 20%;
        bottom: 33%;
        top: auto;
    }
    .top__title {
        width: 279px;
        font-size: 3rem;
    }
    .top__desc {
        width: 290px;
        font-size: 1.2rem;
        margin-top: 7px;
    }
    .count {
        font-size: 2rem;
    }
    .count__desc {
        font-size: 1.2rem;
    }
    .content__desc {
        column-gap: 0;
        margin-top: 50px;
    }
    .desc-item {
        width: 104px;
        height: 98px;
    }
    .dot-list {
        left: 46%;
        top: 11%;
    }
    .feature {
        margin-top: 325px;
        background-color: #191b1d;
    }
    .feature__img-left {
        width: 320px;
        height: 277px;
    }
    .task__daily {
        height: 277px;
        top: 109%;
        right: -1%;
    }
    .feature__inner {
        display: flex;
        flex-direction: column;
    }
    .feature-content {
        margin-top: 25px;
    }
    .feature-content__heading {
        text-align: center;
        font-size: 3rem;
        width: auto;
    }
    .feature-content__list {
        width: 62%;
        display: flex;
        margin-left: 61px;
        flex-direction: column;
    }
    .about {
        margin-top: 200px;
    }
    .about__title {
        width: 227px;
        color: #f9f9f9;
        text-align: center;
        font-family: Sora;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .about__desc {
        width: 268px;
        color: #858b93;
        text-align: center;
        font-family: Sora;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
    .about__all-btn {
        display: none;
    }
    .btn__img {
        width: 196px;
        height: 46px;
        margin-bottom: 26px;
    }
    .about__all-btn-list li:last-child {
        margin-bottom: 32px;
    }
    .about__task {
        width: 319px;
        height: 125px;
    }
    .explore__inner {
        height: auto;
        width: auto;
        flex-direction: column;
    }
    .explore-content {
        width: auto;
    }
    .explore-content__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .explore-content__title {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        width: auto;
        margin-bottom: 32px;
    }
    .explore-content__item {
        width: 320px;
        height: 102px;
    }
    .explore-item__title {
        font-size: 18px;
        font-weight: 600;
    }
    .explore-item__desc {
        font-size: 10px;
        font-weight: 400;
        width: 243px;
    }
    .explore-dot-2,
    .explore-dot-1,
    .explore-dot {
        top: 46%;
        right: -15%;
    }
    .btn-explore {
        display: none;
    }
    .explore-img__wrapper {
        margin: 0;
        position: static;
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        align-items: center;
        justify-content: center;
    }
    .explore-img__item {
        width: 279px;
        height: 211px;
        margin-top: 27px;
    }
    .explore-img__item {
        position: static;
    }
    .explore__line {
        width: 265px;
    }
    .explore-img {
        width: auto;
        height: 100%;
        text-align: center;
    }
    .btn-explore-mobile {
        display: inline-block;
        padding: 12px 28px;
        border-radius: 9px;
        border: 2px solid #36383e;
        background: #131517;
        margin-top: 72px;
    }
    .blog__title {
        font-size: 30px;
        font-weight: 600;
        width: 314px;
    }
    .blog__card-list {
        flex-direction: column;
        row-gap: 40px;
    }
    .blog__card-img {
        width: 282px;
        height: 233px;
    }
    .blog__card-item {
        width: 320px;
        height: 460px;
    }
    .blog__card-view {
        margin: 15px 50px 0 0;
    }
    .testimonials__title {
        text-align: center;
        color: #fff;
        font-family: Sora;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
    }
    .testimonials__list {
        margin-top: 54px;
    }
    .testimonials__list {
        flex-direction: column;
        row-gap: 25px;
    }
    .testimonials__item {
        width: 319px;
        height: 255px;
    }
    .testimonials__common {
        margin: 24px 66px 22px 212px;
        width: 31px;
        height: 31px;
    }
    .customer__name {
        font-size: 14px;
    }
    .customer__desc {
        font-size: 10px;
        margin-top: 0;
        line-height: 20px;
    }
    .customer__avatar {
        width: 31px;
        height: 31px;
    }
    .testimonials__desc {
        font-size: 15px;
        width: 251px;
    }
    .footer__logo {
        display: none;
    }
    .footer__top {
        width: auto;
        border: none;
    }
    .footer__top,
    .footer__started {
        display: flex;
        flex-direction: column;
    }
    .started__title {
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
        margin-top: 20px;
        margin-bottom: 27px;
    }
    .footer__started {
        justify-content: center;
        align-items: center;
    }
    .footer__bottom {
        flex-direction: column;
    }
    .bottom-right {
        display: none;
    }
    .bottom-left__title {
        display: none;
    }
    .email-btn {
        right: 2%;
    }
    .footer__logo-mobile {
        margin: auto;
        margin-top: 60px;
    }
    .content__check-box {
        left: -16%;
        top: -54%;
    }
    .content__check-box-1 {
        left: -16%;
        top: -59%;
    }
    .content__check-box-2 {
        left: -15%;
        top: -66%;
    }
    .content__check-box-3 {
        left: -14%;
        top: -70%;
    }
    .bottom-left__email {
        width: 100%;
        padding: 0 10px 0 25px;
    }
}
