/* PC */
@media screen and (min-width: 992px) {
    .ellipse-deco__mobile,
    .ellipse-deco__mobile-1,
    .header__task-mobile {
        display: none;
    }
}
/* Table */
@media screen and (min-width: 768px) and (max-width: 991px) {
}
/* Mobile */
@media screen and (max-width: 767px) {
    .nav__list {
        display: none;
    }
    .btn-sign {
        padding: 8px 20px;
        text-align: center;
        font-family: Sora;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        border: 1px solid #272633;
        border-radius: 8px;
        background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .hero__content-title {
        width: 297px;
        color: #f9f9f9;
        text-align: center;
        font-family: Sora;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .hero__deco {
        display: none;
    }
    .content__heading-deco {
        display: none;
    }
    .hero__content-desc {
        display: none;
    }
    .hero__content-action {
        margin-top: 30px;
        flex-direction: column;
    }
    .btn-action {
        padding: 12px 26px;
        border-radius: 8px;
    }
    .btn-action:nth-child(2) {
        padding: 12px 37px;
    }
    .hero {
        position: relative;
    }
    .ellipse-deco__mobile {
        position: absolute;
        top: -24%;
        transform: rotate(-90deg);
        left: 14%;
    }
    .ellipse-deco__mobile-1 {
        position: absolute;
        bottom: 42%;
        right: 9%;
    }
    .task__dashboard {
        display: none;
    }
    .header__task-deco {
        display: none;
    }
    .header__task-mobile {
        margin-top: 82px;
        width: 323px;
        height: 159px;
    }
    .service {
        margin-top: 80px;
    }
    .service__inner {
        flex-direction: column;
        width: 319px;
        height: 820px;
    }
    .service__line:first-child {
        left: 20%;
        top: 33%;
    }
    .service__line:nth-child(2) {
        left: 20%;
        bottom: 33%;
        top: auto;
    }
    .top__title {
        width: 279px;
        font-size: 3rem;
    }
    .top__desc {
        width: 290px;
        font-size: 1.2rem;
        margin-top: 7px;
    }
    .count {
        font-size: 2rem;
    }
    .count__desc {
        font-size: 1.2rem;
    }
    .content__desc {
        column-gap: 0;
        margin-top: 50px;
    }
    .desc-item {
        width: 104px;
        height: 98px;
    }
    .dot-list {
        left: 27%;
    }
    .feature {
        margin-top: 325px;
        background-color: #191b1d;
    }
    .feature__img-left {
        width: 320px;
        height: 277px;
    }
    .task__daily {
        height: 277px;
        top: 109%;
        right: 71%;
    }
    .feature__inner {
        display: flex;
        flex-direction: column;
    }
    .feature-content__heading {
        font-size: 3rem;
        width: 235px;
    }
    .feature-content__list {
        display: flex;
        margin-left: 61px;
        flex-direction: column;
    }
    .about {
        margin-top: 200px;
    }
}
